// index.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title #{title} 
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    header
      h1 Welcome to Alex's Website
    main
      p This is the main content of my website. (SAMPLE TEXT 3)
    footer
      p Updated 04/26/2024 : 23:07
