doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title #{title} 
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./stylesheets/confirmation.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href='#') Alex Blass
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.d-none.d-lg-block
              a.nav-link(href='/') Home
            li.nav-item.d-none.d-lg-block
              a.nav-link(href='#about') About
            li.nav-item.d-none.d-lg-block
              a.nav-link(href='#portfolio') Portfolio
            li.nav-item.d-none.d-lg-block
              a.nav-link(href='#contact') Contact
            li.nav-item.ml-3
              a.nav-link(href='https://github.com/a26blass', target='_blank')
                img(src='/images/github-mark-white.png', alt='GitHub', width='30', height='30')

    // WIP Section
    .container.d-flex.justify-content-center.align-items-center.mt-5(style='min-height: 60vh')
      h1.text-muted WIP

    footer.container.text-center.py-3
      p Created by Alex Blass, updated May 2025 
      ul.list-inline
        li.list-inline-item
          a(href='https://github.com/a26blass', target='_blank') GitHub
        li.list-inline-item
          a(href='https://linkedin.com/in/alexander-blass-251b8a258', target='_blank') LinkedIn

    script.
      setTimeout(function() {
        var confirmationOverlay = document.getElementById('confirmation-overlay');
        if (confirmationOverlay != null)
          confirmationOverlay.style.display = 'none';
      }, 10000);

