body {
  background-color: #222; /* Dark background color */
  color: #eee; /* Light text color */
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}

a {
  color: #00B7FF; /* Link color */
}

.navbar {
  background-color: #333; /* Darker navbar background color */
}

.navbar-light .navbar-brand {
  color: #eee; /* Light color for navbar brand */
}

.navbar-light .navbar-nav .nav-link {
  color: #eee; /* Light color for navbar links */
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff; /* Light color for navbar links on hover */
}

footer {
  background-color: #333; /* Darker footer background color */
  color: #eee; /* Light text color for footer */
}
